<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Home</title>
</head>

<body>
<h1>List open, close or both values in data base</h1>
<form role="form" action="/everything">
    <label for="k">List K items (Will list all by default)</label>
    <input type="text" id="k" name="k"><br><br>

    <input type="checkbox" name="csv" id="csv"/>
    <label for="csv">Output in csv? (JSON by default)</label><br><br>
    
    <button type="submit">All</button>
    <button type="submit" formaction="/open">Open</button>
    <button type="submit" formaction="/close">Close</button>
</form>
</body>
</html>
